* {
  /*styling for all page elements*/
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #fff;
}

main {
  padding-top: 100px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ddd;
  width: 100%;
  height: 100px;
}

header .header-logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
  color: #222;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.header-logo:hover {
  background-color: #bbb;
}

header nav ul {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  padding: 0 20px;
}

header nav ul li a {
  font-family: Poppins;
  font-size: 16px;
  color: #222;
  text-transform: uppercase;
}

header .header-cases {
  display: none;
}
/* DROPDOWN CRAGS */

header nav ul li ul {
  visibility: hidden;
  display: none;
  position: absolute;
  transition: all 0.5 ease;
  margin-top: 0px;
  background-color: #ddd;
}

header nav ul li:hover > ul {
  visibility: visible;
  display: block;
}

header nav ul li a:hover {
  color: #009;
  text-decoration: underline;
}

.dropdown li:hover {
  background-color: #bbb;
}

ul li ul li {
  clear:both;
  width: 80%;
}

/* Other design for the screen view*/
@media only screen and (min-width: 1000px) {
  header .header-logo {
    margin: 0;
    text-align: left;
    padding: 30px;
    line-height: 40px;
    border-right: 3px solid #009;
    float: left;
  }

  header nav ul {
    margin: 20px 0;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .header-cases {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    color: #222;
    text-transform: uppercase;
    line-height: 40px;
    border-left: 3px dashed #009;
    float: right;
    padding: 30px;
  }

  header .header-cases:hover {
    background-color: #bbb;
    color: #009;
    text-decoration: underline;
  }
}

/* INDEX */
.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('img/flying_climber1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.banner-text {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Poppins;
  font-size: 60px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px #222;
}

.index-banner h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 8px #222;
  line-height: 34px;
  margin-top: 8vh;
}

.index-boxes {
  overflow: hidden;
}

.index-boxes div {
  margin-top: 20px;
  height: 100px;
  background-color: #66a3ff;
}

.index-boxes div:hover {
  background-color: #5b92e5;
}

.index-boxes div h3 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  line-height: 100px;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-banner {
    width: 100%;
    height: 650px;
    background-image: url('img/flying_climber1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
  }

  .index-boxes div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #66a3ff;
    float: left;
  }

  .box-square {
    width: calc(25% - 20px) !important;
  }

  .box-rect {
    width: calc(50% - 20px) !important;
  }

  .index-boxes div h3 {
    line-height: 230px;
  }
}

/* CASES */
.cases-boxes {
  overflow: hidden;
}

.cases-boxes h2 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-top: 20px;
}

.cases-boxes .wrapper div {
  width: 100%;
  height: 100px;
  background-color: #66a3ff;
  margin-top: 20px;
}

.cases-boxes .wrapper div:hover {
  background-color: #5b92e5;
}

.cases-boxes .wrapper p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  line-height: 100px;
}

@media only screen and (min-width: 1000px) {
  .cases-boxes .wrapper div {
    float: left;
    width: 300px;
    height: 300px;
    margin: 30px 15px 0px;
    background-color: #66a3ff;
  }

  .cases-boxes .wrapper p {
    line-height: 300px;
  }
}

/* CONTACT ME BOX*/
.contact-box {
  width: calc(100% - 80px);
  background-color: #ccc;
  padding: 40px 40px;
  margin-top: 20px;
  overflow: hidden;
}

.contact-box h2 {
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.contact-box h1 {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 20px;
  line-height: 30px;
}

/* CASE */
.case-img h2 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  padding: 20px;
}

.case-img img {
  width: 100%;
  padding: 30px 0;
  display: block;
}

.case-img article h3 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  padding: 20px;
}

.case-img article p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #111;
  text-align: justify;
}

@media only screen and (min-width: 1000px) {
  .case-img article p {
    column-count: 3;
    column-gap: 30px;
  }
  .case-img img {
    height: 500px;
    object-fit: cover;
    object-position: 100% 0;
  }
}

/* FOOTER */
footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #111;
  margin-top: 20px;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
}

footer ul li a {
  font-family: Poppins;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
}

.footer-cases li {
  display: none;
}

.footer-icons {
  width: 50px;
  float: right;
}

.footer-icons img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .footer-cases li {
    display: block;
  }

  footer ul li p {
    font-family: Poppins;
    font-size: 18px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }

  footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
    padding-right: 30px;
  }
}

/* GALLERY */
.gallery-links-h2 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-top: 20px;
}

.gallery-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-img {
  flex-basis: 90%;
  margin: 20px;
}

.gallery-img img {
  width: 100%;
}



@media only screen and (min-width: 762px) {
  .gallery-img {
    flex-basis: 300px;
    margin: 20px;
  }
  .gallery-img img {
    opacity: 0.6;
  }
  .gallery-img img:hover {
    opacity: 1;
  }
}
 /* CONTACT */

.contact-h2 {
  font-family: Poppins;
  font-size: 24px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-top: 20px;
}
.contact-data {
  display: flex;
}
.contact-data div {
  flex:50%;
  padding: 20px;
}


.contact-h2 h3 {
  font-size: 18px;
  padding: 10px;
}

.contact-h2 p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #111;
  text-align: justify;
}
